* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Error Message */
  .errMessage {
    background-color: #ed008c;
    height: 100vh;
    width: 250px;
    position: fixed;
    left: 0; /* Initially positioned at the left edge of the screen */
    top: 0;
    transition: transform 0.3s ease; /* Add transition for smooth animation */
    transform: translateX(-100%); /* Move sidebar off-screen to the left */
  }
  .close-errMsg.close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: -10px;
    right: 10px;
  }
  
  /* Login.jsx */
  .login-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2.5em;
    height: auto;
    width: auto;
  }
  
  /* 
    This is located top of Login Button 
    */
  
  .login-section .signup-container {
    display: inline-flex;
    justify-content: center;
  }
  
  .login-section .signup-container span a {
    margin-left: 5px;
    list-style: none;
    text-decoration: none;
  }
  
  .login-section .signup-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .img-container-login {
    display: inline-flex;
    justify-content: center;
  }
  
  .uic-logo {
    height: 150px;
    width: 150px;
  }
  
  .h1-container-login {
    display: inline-flex;
    justify-content: center;
    margin-top: 2.5em;
  }
  .h1-container-login h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
  
  /* Forms-login */
  .form-container-login {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
  }
  
  .form-container-login label {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
  
  .form-container-login input {
    width: 360px;
    height: 40px;
    border-radius: 8px;
    padding-left: 1em;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
  
  .form-container-login button {
    background-color: #00ba34;
    color: #ffffff;
    height: 52px;
    width: 166px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 1.7em;
    margin-left: 5em;
    margin-bottom: 1.5em;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
  
  .form-container-login button:disabled {
    background-color: #999999;
    cursor: not-allowed;
  }
  