@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.forgotPassword-ccontainer {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.forgotPassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 700px;
  height: 400px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.153);
  border-radius: 7px;
}

.forgotPassword-container .forgotPassword-header-container {
  width: 500px;
  padding-bottom: 2em;
}

.forgotPassword-container-form form {
  display: flex;
  justify-content: center;
}

.forgotPassword-container .forgotPassword-header-container h2 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.forgotPassword-container form {
  margin-left: 1em;
  flex-direction: column;
  width: 500px;
}

.forgotPassword-container label {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  padding-bottom: 0.5em;
  margin-left: 0.2em;
  font-size: 16px;
}

.forgotPassword-container input {
  height: 40px;
  width: auto;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  margin-bottom: 1.5em;
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-radius: 7px;
  border: none;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.153);
}

.forgotPassword-container button {
  width: auto;
  border-radius: 7px;
  padding: 7px 5px;
  margin-left: 0.5em;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  background-color: #ff4b69;
  color: #ffffff;
  border: none;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.159);
}

.forgotPassword-container-form a {
  width: auto;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.cancel-button {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  margin-left: 0.5em;
  color: #ff4b69;
}
