@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap");

/*---------- Navigation ----------*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #fff;
}

.logo img {
  width: 80px;
  height: auto;
  padding-left: 0px;
}
.line img {
  height: auto;
  margin-right: 800px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline;
  margin-left: 5px;
}

.menu ul li span {
  color: #000000;
  margin-top: 50px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-left: 10px;
}

.menu ul li a {
  text-decoration: none;
}

.menu ul li a:hover {
  color: #ccc;
  cursor: pointer;
}

.profile-icon {
  width: 40px;
  height: 40px;
}

.wide-image {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.wide-image img {
  padding-left: 50px;
  padding-right: 50px;
  height: auto;
  width: auto;
}

/* this one for rooms modal overlay */
/* ------------- ROOM MODAL ------------- */
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 65px;
  padding-left: 4.5em;
  background: #f4f4f4;
  backdrop-filter: transparent;
  max-width: 450px;
  max-height: 550px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: none;
  box-shadow: 0 0 10px 100px rgba(0, 0, 0, 0.2);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.modal-header img {
  margin-top: 5em;
  margin-left: 4em;
  position: absolute;
}

.modal-header h2 {
  margin-left: 2.5em;
  margin-top: 2.7em;
  font-family: "Duru Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.modal-body {
  padding-top: 20px;
}

/* ROOM NAME label & p */
.modal-body .info-item label {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 4.5em;
}
.modal-body .info-item p {
  display: flex;
  flex-wrap: wrap;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-left: 2em;
}

.modal-body .info-item span {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-left: 4em;
}

.modal-body .modal-footer button {
  background-color: #ff4b69;
  color: #ffffff;
  font-size: 22px;
  font-style: normal;
  border: none;
  border-radius: 5px;
  padding: 10px 90px;
  margin: 1.5em 6.5em;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}

.room-info {
  margin-bottom: 10px;
}

.room-info label {
  font-weight: bold;
}

.room-info p .book-now-section {
  text-align: center;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 2em;
  margin-top: 0.5em;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal header */
.modal-header {
  text-align: center;
  margin-bottom: 10px;
}

/* Info item */
.info-item {
  margin-bottom: 15px;
}

/* Profile Modal / Pop up */
/* this one for profile icon modal overlay */
.overlay-profileIcon {
  position: absolute;
  left: 74%;
  top: 10%;
  margin-top: 0.5em;
  border-radius: 20px;
  background: #f4f4f4;
  box-shadow: 0 0 4px 2px #00000018;
  max-width: 350px;
  max-height: 480px;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.close-btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 5px 25px;
}

.profile-closebtn {
  background-color: #f4f4f4;
  color: #898989;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-size: 50px;
  font-weight: 600;
}

.profile-closebtn:hover {
  color: #000000;
}

.profileIcon-modal-container {
  display: flex;
  flex-direction: column;
}

.profileIcon-modal-container .profile-icon-container {
  display: flex;
  justify-content: center;
}

.profileIcon-modal-container .profile-icon-container img {
  height: 84px;
  width: 84px;
}

.profileIcon-modal-container .userName-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.profileIcon-modal-container .userName-container h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}

.profileIcon-modal-container .email-container {
  display: flex;
  justify-content: center;
  height: auto;
}

.profileIcon-modal-container .email-container p {
  font-family: "DM Sans", sans-serif;
  font-size: 12.5px;
  font-weight: 400;
  font-style: normal;
}

.profileIcon-modal-container .logout-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.profileIcon-modal-container .logout-container button {
  padding: 10px 65px;
  border-radius: 25px;
  border: none;
  background-color: #ff4b69;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

.profileIcon-modal-container .logout-container button:hover {
  background-color: #e92c2c;
}

/*---------- Contents ----------*/
.content-container {
  display: flex;
  background-color: #e6e6e6;
  width: 1350px;
  height: 800px; /*height of the container*/
  margin-top: 1.5em;
  margin-left: 3em;
  border-radius: 30px;
  overflow: none;
}

/* container of filter icon*/
.filter-icon {
  display: inline-flex;
  margin-left: 5.5em;
  padding-top: 2em;
}

.filter-icon img {
  width: 25px;
}

/* container of campus navigation*/
.campus-navigation {
  display: inline-flex;
  padding-top: 2em;
}

.campus-navigation a {
  margin-left: 2em;
  text-decoration: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.underline {
  /*currently underlines the main campus*/
  position: absolute;
  right: 75.5%;
  width: 133px;
  height: 2px;
  background-color: #fa7e93;
  margin-top: 1.5em;
}

/*----------Second Floor------------- */
.second-floor-container {
  position: absolute;
  margin-top: 7.5em;
  margin-left: 5.5em;
}

.second-floor-header {
  display: flex;
}

.second-floor-header img {
  /*sideline beside h3*/
  height: 30px;
  margin-top: 1px;
  margin-right: 0.5em;
}

.second-floor-header h3 {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

/* second Floor Buttons */
.second-floor-buttons-container {
  /* manipulates the container*/
  display: inline-flex;
  justify-content: center;
  background-color: #ffffff;
  width: 1170px;
  height: auto;
  margin-top: 1em;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 130px;
  padding-right: 10px;
  overflow-y: hidden; /*This will make the container scrollable if too many items*/
  overflow-x: auto;
  border-radius: 15px;
}

.second-floor-button1 {
  flex-direction: column;
  margin-right: 0.5em;
  margin-top: 0.2em;
  gap: 35px;
}

.second-floor-button1 button {
  flex: 0 0 calc((70% - 20px) / 3);
  width: 100%;
  height: 50px;
  padding: 8px 40px;
  background-color: #424141;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
}

/*----------Third Floor------------- */
.third-floor-container {
  position: absolute;
  margin-top: 30em;
  margin-left: 5.5em;
}

.third-floor-header {
  display: flex;
}

.third-floor-header img {
  /*sideline beside h3*/
  height: 30px;
  margin-top: 1px;
  margin-right: 0.5em;
}

.third-floor-header h3 {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

/* third Floor Buttons */
.third-floor-buttons-container {
  display: inline-flex;
  justify-content: center;
  background-color: #ffffff;
  width: 1170px;
  height: auto;
  margin-top: 1em;
  padding: 25px 0;
  overflow-y: auto; /*This will make the container scrollable if too many items*/
  border-radius: 15px;
}

.third-floor-button1 {
  flex-direction: column;
  margin-right: 1.5em;
  margin-top: 0.2em;
  gap: 35px;
}

.third-floor-button1 button {
  flex: 0 0 calc((70% - 20px) / 3);
  width: 100%;
  height: 50px;
  padding: 8px 40px;
  background-color: #424141;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
}
